<!DOCTYPE html>
<html>
  <head>
    <title>CuldecatsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>Welcome to Cul-De-Cats. <%= Date.today.strftime("Today is %A, %B %d.") %></p>
    <div id="affirms" style="color: green;"><%= flash[:affirms] %></div>
    <div id="alerts" style="color: red;"><%= flash[:alerts] %></div>
    <%= yield %>
  </body>
</html>
